html{
 scroll-behavior: smooth;
}

.banner {
    background: url(../imagenes/background2.jpg) no-repeat;
    background-size: cover;
   }
   

.header {

    display: flex;
    flex-direction: row;
    
    
    padding-top: 59px;
    padding-left:20px;
    padding-right: 50px;
    padding-bottom: 15px;
    border: 3PX solid;

}

.header__logo {
    display: flex;

}

.header__titulo {
    display: flex;
    padding-left: 15px;

}


/* HASTA ACA SE TRABAJA EL ESTILO DEL HEADER (LOGO Y TITULO)*/

.navbar {
    display: flex;
    background: none;
    margin-top: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 60px;
    padding-bottom: 5px;
    border: 5PX solid;
    margin-left: 1px;
    background: rgb(186,186,181);
    background: -moz-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#babab5",endColorstr="#ffffff",GradientType=1);
  
}


    
/* HASTA ACA SE TRABAJA EL ESTILO DEL HEADER (LOGO TITULO Y NAVBAR)*/


.border{
    border: 3px solid;
}
body {
    font-family: 'Koulen', cursive;
}

/* FUENTE DEL SITIO*/


.conteiner_titulo{
    
    margin-top: 100px;
    display: flex;
    justify-content: center;
   

}
.conteiner_curso{
    margin-top: 40px;
    padding-left: 15px;
    margin-left: 5px;
    margin-right: 10px;
    padding-right: 20px;
}

.imagen_curso{
    display: flex;
    margin-left: 70px;
}
.conteiner_subtitulo{
    display: flex;
    justify-content: center;

}

.conteiner_cursotimonel{
    padding-left: 40px;
    padding-right: 30px;
    margin-top: 20px;

}
    /* HATA ACA SE TRABAJA LA SECCION MAS CARGADA DEL SITIO QUE ES "CURSOS"*/
.section {
 
  margin-left: 5px;  
  margin-right: 5px;
  padding-top: 30px;
  
  
 

}
.conteiner{
    margin-left: 7px;
    padding-top: 20px;
    padding-bottom: 50px;
}


.section-imagen{
    padding-left: 0px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.section__titulo {

    margin: 10px 20px 20px 10px;
}

.section__contenido {

    display: flex;
    flex-direction: column;
    margin-bot: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 70px;


}
/* ESTILOS DE LA MAYORIA DEL CONTENIDO DE LA PAG*/

.carousel-item {
    
   justify-content: center;
   
}

.titulo_maps{
   text-align: center;
   
    
}

.video{
    margin-top: 30px;
    padding-top: 20px;
}
/* ESTILOS DE SECCIONES ESPECIALES: VIDEO,GOOGLEMAPS Y CARRUSEL DE IMAGENES*/

.footer-style{
    background: rgb(186,186,181);
    background: -moz-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#babab5",endColorstr="#ffffff",GradientType=1);
    border: 3px solid;
    padding-top: 1px;
    margin-top: 120px;
    margin-bottom: 5px;
    padding-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
    
.eslogan_footer{
    padding-top: 50px;
}

.copyright{
    background-color: white;
}

.formulario_footer{
    
    
    margin-right: 1px;
    margin-left: 1px;
    
    
    
}
/* estilos footer*/






