.banner {
    background: url(/imagenes/background2.jpg) no-repeat;
    background-size: cover;
   }
   

.header {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding-top: 59px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 15px;
    border: 3PX solid;

}

.header__logo {
    display: flex;

}

.header__titulo {
    display: flex;
    padding-left: 15px;

}

/* HASTA ACA SE TRABAJA EL ESTILO DEL HEADER (LOGO Y TITULO)*/

.navbar {
    display: flex;
    background: none;
    margin-top: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 60px;
    padding-bottom: 5px;
    border: 5PX solid;
    margin-left: 5px;
    background: rgb(186,186,181);
    background: -moz-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#babab5",endColorstr="#ffffff",GradientType=1);
  
}


    
/* HASTA ACA SE TRABAJA EL ESTILO DEL HEADER (LOGO TITULO Y NAVBAR)*/


.border{
    border: 3px solid;
}
body {
    font-family: 'Koulen', cursive;
}

/* FUENTE DEL SITIO*/






.section {
 
  margin-left: 5px;  
  margin-right: 5px;
  padding-top: 30px;
  
  
 

}
.conteiner{
    margin-left: 5px;
    padding-top: 20px;
}


.section-imagen{
    padding-left: 0px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.section__titulo {

    margin: 10px 20px 20px 10px;
}

.section__contenido {

    display: flex;
    flex-direction: column;
    margin-bot: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 70px;


}


.carousel-item {
    
   justify-content: center;
   
}

/* CONTENIDO y estilos DE la pag*/

.footer-style{
    background: rgb(186,186,181);
    background: -moz-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    background: linear-gradient(167deg, rgba(186,186,181,1) 0%, rgba(237,169,131,1) 29%, rgba(125,122,120,1) 72%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#babab5",endColorstr="#ffffff",GradientType=1);
    border: 3px solid;
    padding-top: 1px;
    margin-top: 120px;
    margin-bottom: 5px;
    padding-top: 10px;
}
    


.copyright{
    background-color: white;
}

/* estilos footer*/

.formulario{
    
    padding-top:60px;
    margin-right: 30px;
    margin-left: 30px;
    
    padding-bottom: 80px;
    
}

/* estilos formulario*/



